{{#if showNewForm}}
  <h4>New Blog Post:</h4>
  <form>
    {{input class="form-control" id="title" value=title placeholder="Title"}}
    <br>
    {{input class="form-control" id="author" value=author placeholder="Author"}}
    <br>
    {{textarea class="form-control" id="text" value=text placeholder="Post text"}}
    <br>
    {{input class="form-control" id="image" value=image placeholder="Image url"}}
    <br>
    <button class="btn btn-info" {{action 'savePost'}}>Post</button>
  </form>
{{else}}
  <button class="btn btn-info" {{action 'newPost'}}>New Post</button>
{{/if}}
