<!--Top Level-->
<img class="post-image img-responsive" src={{model.image}} alt="Post image">
<h2>{{model.title}}</h2>
<p><small>By</small> {{model.author}}, <small>{{model.date}}</small></p>
<br>
<p>{{model.text}}</p>
<hr>
<button class="btn btn-info" {{action 'delete' model}}>Delete</button>

{{edit-post post=model updatePost='updatePost'}}

{{post-comments post=model saveComment='saveComment'}}
