<!--Top Level-->
<img class="post-image img-responsive" src={{model.image}} alt="Post image">
<h2>{{model.title}}</h2>
<p><small>By</small> {{model.author}}, <small>{{model.date}}</small></p>
<br>
<p>{{model.text}}</p>
<hr>
<button class="btn btn-info btn-xs" {{action 'delete' model}}>Delete Post</button>

{{edit-post post=model updatePost='updatePost'}}

{{post-comments deleteComment='deleteComment' updateComment='updateComment' post=model saveComment='saveComment'}}
